<h1>Model ile QueryString veri taşıma</h1>

<a asp-action="GetDataWithModelQueryString" asp-controller="Workshop" asp-route-name="halilgedik" asp-route-surname="22" asp-route-age="22"> Click ME !! </a>
